.shops-view
  padding: 40px * 70px @md 60px * 80px @lg 80px * 120px

  &__title
    margin-bottom: 40px @md 67px @lg 87px
    text: 200

    &-mark
      text: $main 500
      display: inline-block

  &__list
    box: wrap
    padding-bottom: 30px @md 40px @lg 83px
    margin: -5px @xs -10px

  &__item
    width: calc(50% - 10px) @xs calc(50% - 20px) @sm calc(50% - 20px) @md calc(25% - 20px) @lg calc(20% - 20px)
    margin: 5px @xs 10px

  &__btn-wrapper
    text: center