.shops-view
  padding: 40px * 70px @md 60px * 80px @lg 80px * 120px

  &__title
    margin-bottom: 40px @md 67px @lg 87px
    text: 200

    &-mark
      text: $main 500
      display: inline-block

  &__list
    box: space-between wrap
    margin-bottom: 30px @md 40px @lg 53px

  &__item
    width: calc(50% - 5px) @xs calc(50% - 10px) @sm calc(100% / 3 - 40px / 3) @md calc(25% - 15px) @lg calc(20% - 16px)
    margin-bottom: 10px @xs 20px

  &__btn-wrapper
    text: center