.similar-shops

  &__title
    @extend .h3
    margin-bottom: 35px

  &__list
    box: wrap
    margin: -5px @xs -10px

  &__item
    width: calc(50% - 5px) @xs calc(50% - 10px) @sm calc(100% - 20px) @md calc(25% - 20px) @lg calc(25% - 20px)
    margin: 5px @xs 10px