-
  var shops = [
    {
      logo: "https://dummyimage.com/143x33/efefef/c7c7c7",
      percent: 5,
      top: true
    },
    {
      logo: "https://dummyimage.com/140x24/efefef/c7c7c7",
      percent: 4,
      top: true
    },
    {
      logo: "https://dummyimage.com/140x57/efefef/c7c7c7",
      percent: 5,
      top: true
    },
    {
      logo: "https://dummyimage.com/140x57/efefef/c7c7c7",
      percent: 3,
      boost: 1.5
    },
    {
      logo: "https://dummyimage.com/140x54/efefef/c7c7c7",
      percent: 4,
    },

    {
      logo: "https://dummyimage.com/140x54/efefef/c7c7c7",
      percent: 1.75,
    },
    {
      logo: "https://dummyimage.com/140x54/efefef/c7c7c7",
      percent: 2.3,
      action: true
    },
    {
      logo: "https://dummyimage.com/140x54/efefef/c7c7c7",
      percent: 2,
    },
    {
      logo: "https://dummyimage.com/140x54/efefef/c7c7c7",
      percent: 5,
    },
    {
      logo: "https://dummyimage.com/140x54/efefef/c7c7c7",
      percent: 1.5,
    },

    {
      logo: "https://dummyimage.com/100x60/efefef/c7c7c7",
      percent: 3,
    },
    {
      logo: "https://dummyimage.com/140x54/efefef/c7c7c7",
      percent: 3,
    },
    {
      logo: "https://dummyimage.com/140x54/efefef/c7c7c7",
      percent: 2.2,
      action: true
    },
    {
      logo: "https://dummyimage.com/140x54/efefef/c7c7c7",
      percent: 2.5,
    },
    {
      logo: "https://dummyimage.com/140x54/efefef/c7c7c7",
      percent: 1.15,
    },
  ]