.refs

  &__panel
    box: 
    margin: -10px
    margin-bottom: 70px

  &__col
    margin: 10px
    width: calc(25% - 20px)

    .card, .card__content
      height: 100%

    .card__content
      box: vertical space-between
      padding-bottom: 31px

  &__link
    box: center
    margin-bottom: 40px

    &-text
      min-width: 250px
      margin-right: 20px

    &-input
      box: center

      .input__elem
        width: 380px