@import 'inc/var.sss'

@import 'inc/reset.css'
@import 'inc/typo.sss'
@import 'inc/grid.sss'
@import 'inc/btn.sss'
@import 'inc/card.sss'
@import 'inc/form.sss'
@import 'inc/font.css'
@import 'inc/social.sss'

@import 'blocks/header.sss'
@import 'blocks/hero.sss'
@import 'blocks/shops-view.sss'
@import 'blocks/footer.sss'

