.page-title
  @extend .h2
  margin-bottom: 31px
  display: flex
  align-items: baseline
  justify-content: space-between

  &__tip
    text: #AFAFAF 16px

.btn-reset
  border: 0
  padding: 0
  background-color: transparent
  outline: 0
  cursor: pointer