.page-title
  @extend .h2
  margin-bottom: 17px @md 21px @xl 31px
  display: @lg flex
  align-items: baseline
  justify-content: space-between

  &__tip
    text: #AFAFAF 16px
    margin-top: 5px @lg 0

.btn-reset
  border: 0
  padding: 0
  background-color: transparent
  outline: 0
  cursor: pointer