[data-popup]
  visibility: hidden
  pointer-events: none
  opacity: 0
  transform: translateY(14px)
  transition: opacity .15s ease, transform .15s ease

  &:not(.load)
    display: none

  &.load
    display: block

  &.show
    visibility: visible
    pointer-events: auto
    opacity: 1
    transform: translateY(0)