mixin header(account)
  header.header
    .header__container.container
      a.header__logo(href="/")

      form.header__search-form(action="/" method="get")
        input.input__elem.header__search-input(placeholder="Найти магазин с кэшбэком" name="search" autocomplete="off")
        button.header__search-btn

      nav.header__nav
        a.header__nav-link(href="#!") Как это работает?
        a.header__nav-link.active(href="/all-shops.html") Магазины
        a.header__nav-link(href="/faq.html") FAQ

      .header__account
        if account
          .header__account-balance
            .header__account-balance-mark 5 000 руб. 
            | / 100 руб.
          a.header__account-notification.header__account-notification--new(href="#!")
          button.header__account-avatar(data-show-popup="profile")
        else
          a.header__account-signin.btn(href="/profile.html") Войти
          button.header__account-signup.btn Регистрация

      .header__profile(data-popup="profile")
        .header__profile-header
          .header__profile-avatar.header__account-avatar
          .header__profile-name Александр Ивченко
          .header__profile-close(data-hide-popup="profile")

        nav.header__profile-nav
          ul.profile__nav-list
            each item in profileNav
              li.profile__nav-item(class=[item.name === "Мой кабинет" ? "active" : ""])
                a.profile__nav-link(href=item.url + ".html" class="profile__nav-link--" + item.icon)= item.name

      .header__mobile-menu
        .header__mobile-menu-line
        .header__mobile-menu-line
        .header__mobile-menu-line