.hero
  .hero__container.container
    .hero__content
      h1.hero__title.h1 Больше пользы от покупок в интернете!
      p.hero__text Кэшбэк — новый тренд в онлайн-покупках Украины<br><br>Заказывайте товары и услуги в любимых магазинах. Получайте часть потраченных денег обратно на банковскую карту или счет телефона.
      button.hero__btn.btn.btn--outline-color.btn--large Регистрация

    .hero__img