.pagination
  a.pagination__link.pagination__link--prev(href="#!")

  a.pagination__link(href="#!") 1
  a.pagination__link(href="#!") 2
  a.pagination__link.active(href="#!") 3
  a.pagination__link(href="#!") 4

  .pagination__link.pagination__link--text ...

  a.pagination__link(href="#!") 7
  a.pagination__link(href="#!") 8

  a.pagination__link.pagination__link--next(href="#!")