.reviews
  .reviews__title Отзывы о Rozetka (318)

  .reviews__rating
    .reviews__rating-stars
      .reviews__star
      .reviews__star
      .reviews__star
      .reviews__star.reviews__star--half
      .reviews__star.reviews__star--empty

    .reviews__rating-value 3.38
    .reviews__rating-tip Общая оценка магазина

  .reviews__panel
    .reviews__filter
      .reviews__filter-checkbox.input
        input.input__checkbox(type="checkbox" name="reviews-filter" id="reviews-filter")
        label(for="reviews-filter").input__checkbox-label Показать отзывы только из

      .input.input--select-plain
        select.input__select-plain
          option Россия
          option Казахстан
          option Беларусь
          option(selected) Украина

    button.btn Оставить отзыв


  ul.reviews__list

    li.reviews__item
      .reviews__item-img-wrapper

      .reviews__item-content-wrapper
        .reviews__item-content
          .reviews__item-header
            .reviews__item-name Denis
            .reviews__item-date 28.10.2018

          .reviews__item-rating
            .reviews__item-rating-tip Оценка
            .reviews__item-rating-stars
              .reviews__star.reviews__star--small
              .reviews__star.reviews__star--small
              .reviews__star.reviews__star--small
              .reviews__star.reviews__star--small
              .reviews__star.reviews__star--small

          .reviews__item-msg Все на высшем уровне, розеткой пользуюсь не часто, но небольшая часть денег, которая возвращается обратно, всегда радует!!!

    li.reviews__item
      .reviews__item-img-wrapper
        img.reviews__item-img(src="img/dev-avatar.jpg")

      .reviews__item-content-wrapper
        .reviews__item-content
          .reviews__item-header
            .reviews__item-name Artem Loginov
            .reviews__item-date 28.10.2018

          .reviews__item-rating
            .reviews__item-rating-tip Оценка
            .reviews__item-rating-stars
              .reviews__star.reviews__star--small
              .reviews__star.reviews__star--small
              .reviews__star.reviews__star--small
              .reviews__star.reviews__star--small
              .reviews__star.reviews__star--small.reviews__star--empty

          .reviews__item-msg Мне Розетка нравится. Да, не все идеально, Но выбор большой. Кешбэк зачислился оперативно

        ul.reviews__list-deep
          li.reviews__item
            .reviews__item-img-wrapper

            .reviews__item-content-wrapper
              .reviews__item-content
                .reviews__item-header
                  .reviews__item-name Shopname
                  .reviews__item-date 28.10.2018

                .reviews__item-rating
                  .reviews__item-rating-tip Оценка
                  .reviews__item-rating-stars
                    .reviews__star.reviews__star--small
                    .reviews__star.reviews__star--small
                    .reviews__star.reviews__star--small.reviews__star--empty
                    .reviews__star.reviews__star--small.reviews__star--empty
                    .reviews__star.reviews__star--small.reviews__star--empty

                .reviews__item-msg Все на высшем уровне, розеткой пользуюсь не часто, но небольшая часть денег, которая возвращается обратно, всегда радует!!!

      li.reviews__item
        .reviews__item-img-wrapper

        .reviews__item-content-wrapper
          .reviews__item-content
            .reviews__item-header
              .reviews__item-name Sasha
              .reviews__item-date 28.10.2018

            .reviews__item-rating
              .reviews__item-rating-tip Оценка
              .reviews__item-rating-stars
                .reviews__star.reviews__star--small
                .reviews__star.reviews__star--small
                .reviews__star.reviews__star--small
                .reviews__star.reviews__star--small
                .reviews__star.reviews__star--small

            .reviews__item-msg Мне Розетка нравится. Да, не все идеально, Но выбор большой. Кешбэк зачислился оперативно
