.shops-view
  .container
    .shops-view__title.h1
      .shops-view__title-mark 1337
      |  магазинов с кэшбэком

    .shops-view__list
      each shop in shops
        .shops-view__item
          +shop-card(shop)

    .shops-view__btn-wrapper
      a.btn.btn--big(href="/all-shops.html") Все магазины с кэшбэком
