extends layouts/layout.pug

block title
  title FAQ | Cashback

block content
  .container
    +breadcrumbs("FAQ")

    .container-with-aside
      aside.faq__aside
        .faq__aside-header
          button.faq__aside-categories-btn.btn Категории

          form.faq__aside-search(action="#" method="get")
            .input
              input.input__elem.input__elem--line-style(placeholder="Найти" name="search" autocomplete="off")
              button.btn.btn--search

        .faq__aside-categories
          nav.faq__aside-nav
            a.faq__aside-nav-item(href="#!") Категории магазинов
            a.faq__aside-nav-item(href="#!") Общие сведения
            a.faq__aside-nav-item.active(href="#!") Личный кабинет
            a.faq__aside-nav-item(href="#!") Браузерное расширение
            a.faq__aside-nav-item(href="#!") Мобильное приложение

      main.faq__main
        +page-title("Личный кабинет")

        .faq__list
          .faq__item
            .faq__item-title(data-accordion) Какой спосою выплаты выбрать?
            .faq__item-content Кэшбэк фиксируется в течение суток после покупки (за исключение нескольких магазинов. Если кэшбэк фиксируется дольше суток — информация о сроках фиксации всегда размещается на странице магазина). Если прошло меньше времени и заказ сделан согласно правилам — кэшбэк еще обязательно появится в вашем кабинете.

          .faq__item
            .faq__item-title(data-accordion) Почему кэшбэк за покупку не начислен?
            .faq__item-content Кэшбэк фиксируется в течение суток после покупки (за исключение нескольких магазинов. Если кэшбэк фиксируется дольше суток — информация о сроках фиксации всегда размещается на странице магазина). Если прошло меньше времени и заказ сделан согласно правилам — кэшбэк еще обязательно появится в вашем кабинете.<br><br>Обратите внимание, что в магазинах Юлмарт, eBay и iTunes фиксация кэшбэка занимает до 7-ми дней. Актуальную информацию о сроках отображения заказов из раздела TMALL вы можете увидеть на странице магазина.<br><br>Если покупка совершена в другом магазине, убедитесь, что все правила покупок с кэшбэком и условия магазина выполнены.<br><br>С условиями магазина вы можете ознакомиться на странице каждого магазина.<br>Если заказ был оформлен верно — напишите в нашу службу заботы о клиентах, мы обязательно постараемся помочь.<br>Если какое-то правило было нарушено, вы можете отменить заказ в магазине и переоформить его заново, с соблюдением правил.

          .faq__item
            .faq__item-title(data-accordion) Как увеличить размер кэшбэка?
            .faq__item-content Кэшбэк фиксируется в течение суток после покупки (за исключение нескольких магазинов. Если кэшбэк фиксируется дольше суток — информация о сроках фиксации всегда размещается на странице магазина). Если прошло меньше времени и заказ сделан согласно правилам — кэшбэк еще обязательно появится в вашем кабинете.

          .faq__item
            .faq__item-title(data-accordion) Что такое программа «Приведи друга»
            .faq__item-content Кэшбэк фиксируется в течение суток после покупки (за исключение нескольких магазинов. Если кэшбэк фиксируется дольше суток — информация о сроках фиксации всегда размещается на странице магазина). Если прошло меньше времени и заказ сделан согласно правилам — кэшбэк еще обязательно появится в вашем кабинете.

          .faq__item
            .faq__item-title(data-accordion) Как сделать скриншот при обращении о не начисленном кэшбэке?
            .faq__item-content Кэшбэк фиксируется в течение суток после покупки (за исключение нескольких магазинов. Если кэшбэк фиксируется дольше суток — информация о сроках фиксации всегда размещается на странице магазина). Если прошло меньше времени и заказ сделан согласно правилам — кэшбэк еще обязательно появится в вашем кабинете.

          .faq__item
            .faq__item-title(data-accordion) Как поделиться купоном и получить кэшбэк?
            .faq__item-content Кэшбэк фиксируется в течение суток после покупки (за исключение нескольких магазинов. Если кэшбэк фиксируется дольше суток — информация о сроках фиксации всегда размещается на странице магазина). Если прошло меньше времени и заказ сделан согласно правилам — кэшбэк еще обязательно появится в вашем кабинете.