extends layouts/layout.pug

block header
  +header(true)

block title
  title Модальное окно | Cashback

block content
  .container
    +breadcrumbs("Модальное окно")

    .container-with-aside
      button.btn(data-open-modal="withdrawal-success") Открыть модальное окно


  .modal__cover(data-modal="withdrawal-success")
    .modal__wrapper
      .modal
        button.modal__close
        .modal__how-it-works
          .modal__how-it-works-title Как это работает

          .modal__how-it-works-list
            .modal__how-it-works-item
              .modal__how-it-works-img.modal__how-it-works-img--1
              .modal__how-it-works-content
                .modal__how-it-works-name Выбере магазин
                .modal__how-it-works-text Авторизируйтесь в сервисе и выберете магазин для совершение покупки

            .modal__how-it-works-item
              .modal__how-it-works-img.modal__how-it-works-img--2
              .modal__how-it-works-content
                .modal__how-it-works-name Покупайте с выгодой
                .modal__how-it-works-text Сделайте покупку и сумма кэшбэка отразиться в вашем профиле

            .modal__how-it-works-item
              .modal__how-it-works-img.modal__how-it-works-img--3
              .modal__how-it-works-content
                .modal__how-it-works-name Используйте выгоду
                .modal__how-it-works-text Через 2-4 недели кэшбэк будет зачислен на баланс карты, Webmoney, Qiwi, Paypal.