extends layouts/layout.pug

block header
  +header(true)

block title
  title Модальное окно | Cashback

block content
  .container
    +breadcrumbs("Модальное окно")

    .container-with-aside
      button.btn(data-open-modal="recover-password") Открыть модальное окно


  .modal__cover(data-modal="recover-password")
    .modal__wrapper
      .modal
        button.modal__close
        form.modal__auth(action="#" method="get")
          .modal__auth-title Введите адрес, для которого забыли пароль

          .input.input--material
            input.input__elem(type="text" name="email" placeholder="Электронная почта")

          button.btn.btn--wide Восстановить

          a.modal__auth-link(href="#!") Создать аккаунт

          .modal__auth-social
            .modal__auth-social-title Вход через соцсеть
            .modal__auth-social-list.social
              each item in ["vk", "google-plus", "odnoklassniki"]
                a.social__link.social__link--small.social__link--color(href="#!" class="social__link--" + item)


